{% extends 'myadmin/base.html' %}
{% block mainbody %}
				<div class="span9">
					<h1>
						修改商品类别
					</h1>
					<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_edittype' typelist.id %}" method="post">
                        {% csrf_token %}
						<fieldset>
							<legend>Your Profile</legend>
							<div class="control-group">
								<label class="control-label" for="input01">商品类别</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" value="{{ typelist.goods_type }}" name="goods_type" />
								</div>
							</div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
						</fieldset>
					</form>
				</div>
{% endblock %}
