{% load static from static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Dashboard - Akira</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'myadmin/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'myadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<link href="{% static 'myadmin/css/site.css' %}" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#">Akira</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li class="active">
									<a href="{% url 'myadmin_index' %}">主页</a>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li>
									<a href="#">{{ request.session.user }}</a>
								</li>
								<li>
									<a href="{% url 'myadmin_loginout' %}">退出</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li class="nav-header">
								主页
							</li>
							<li class="active">
								<a href="{% url 'myadmin_index' %}"><i class="icon-white icon-home"></i>主页</a>
							</li>
                            <li class="nav-header">
								用户
							</li>
							<li>
								<a href="{% url 'myadmin_userlist' %}"><i class="icon-folder-open"></i>用户列表</a>
							</li>
							<li>
								<a href="{% url 'myadmin_adduser' %}"><i class="icon-check"></i>添加用户</a>
							</li>
                            <li class="nav-header">
								商品类别
							</li>
							<li>
								<a href="{% url 'myadmin_typelist' %}"><i class="icon-envelope"></i> 商品类别列表</a>
							</li>
							<li>
								<a href="{% url 'myadmin_addtype' %}"><i class="icon-file"></i> 添加商品类别</a>
							</li>
                            <li class="nav-header">
								商品信息
							</li>
							<li>
								<a href="{% url 'myadmin_goodlist' %}"><i class="icon-list-alt"></i> 商品信息列表</a>
							</li>
                            <li>
								<a href="{% url 'myadmin_addgood' %}"><i class="icon-user"></i> 添加商品列表</a>
							</li>
							<li class="nav-header">
								订单
							</li>
							<li>
								<a href="profile.htm"><i class="icon-user"></i> 订单信息列表</a>
							</li>
							<li>
								<a href="settings.htm"><i class="icon-cog"></i> 添加信息列表</a>
							</li>
						</ul>
					</div>
				</div>
                {% block mainbody %}
                {% endblock %}

                </div>
		</div>
		<script src="{% static 'myadmin/js/jquery.min.js' %}"></script>
		<script src="{% static 'myadmin/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'myadmin/js/site.js' %}"></script>
	</body>
</html>